@model Silverton.Models.ProjectViewModels

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ProjectViewModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Consultant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consultant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contractor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contractor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sector)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plot)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Code }) |
    @Html.ActionLink("Back to List", "Index")
</p>
