@model IEnumerable<Silverton.Models.ProjectViewModels>

@{
    ViewBag.Title = "Project Setup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add New Project", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Consultant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contractor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sector)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plot)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Consultant)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contractor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sector)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Plot)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Code }) |
            @Html.ActionLink("Details", "Details", new { id=item.Code }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Code })
        </td>
    </tr>
}

</table>
