
@{
    ViewBag.Title = "Setup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

<div id="container">
<div class="row">
    <div class="col-lg-3">
        <div class="list-group">
            <ul>
                <li>@Html.ActionLink("Project", "Index", "Project", new {area = ""}, new {@class = "list-group-item active"})</li>
                <li>@Html.ActionLink("Camera", "Index", "Camera", new {area = ""}, new {@class = "list-group-item"})</li>
                <li>@Html.ActionLink("Scenario", "Index", "Scenario", new {area = ""}, new {@class = "list-group-item"})</li>
                <li>@Html.ActionLink("Notifications", "Index", "Notifications", new {area = ""}, new {@class = "list-group-item"})</li>
                <li>@Html.ActionLink("Users", "Index", "UserSetup", new {area = ""}, new {@class = "list-group-item"})</li>
                <li>@Html.ActionLink("Login Logs", "Index", "Logs", new {area = ""}, new {@class = "list-group-item"})</li>
            </ul>
        </div>
    </div>
    <div class="col-lg-9">
    </div>
    <div id="cleared"></div>
    </div>
</div>
